<%= content_tag( 'h1', "Announcement on #{@announcement.announced_on.strftime( '%-d %B %Y')}" ) %>

<% if @announcement.in_gazette -%>
	<%= content_tag( 'p', "Published in the London Gazette." ) %>
<% else -%>
	<%= content_tag( 'p', "Not published in the London Gazette." ) %>
<% end -%>
<%= content_tag( 'p', @announcement.notes )if @announcement.notes %>

<h4>What is this?</h4>
<%= content_tag( 'p', "Number: #{@announcement.number}" )if @announcement.number %>


