<%= content_tag( 'h1', "#{link_to(@peerage.rank.name, rank_show_url( :rank => @peerage.rank ) )} #{@peerage.title}".html_safe ) %>

<!-- patent, full title, person name and administration -->
<%= render :partial => 'patent', :object => @peerage %>







<!-- announced on, announcement and announcement type -->
<% if @peerage.announced_on -%>
	<% if @peerage.announcement -%>
		<%= content_tag( 'p', "Announced on #{link_to( @peerage.announced_on.strftime( '%-d %B %Y'), announcement_show_url( :announcement => @peerage.announcement) )} as part of a #{link_to( @peerage.announcement.announcement_type.name, announcement_type_show_url( :announcement_type => @peerage.announcement.announcement_type ) )}.".html_safe ) %>
	<% else -%>
		<%= content_tag( 'p', "Announced on #{@peerage.announced_on.strftime( '%-d %B %Y')}.".html_safe ) %>
	<% end -%>
<% end -%>

<!- Introduced -->
<% if @peerage.introduced_on -%>
	<%= content_tag( 'p', "Introduced to the House of Lords on #{@peerage.introduced_on.strftime( '%-d %B %Y')}.".html_safe ) %>
<% else -%>
	<%= content_tag( 'p', "Not introduced to the House of Lords." ) %>
<% end -%>

<!-- previous title -->
<% if @peerage.previous_title -%>
	<%= content_tag( 'p', "Previously: #{@peerage.previous_rank} #{@peerage.previous_title}" ) %>
<% end -%>

<!-- peerage type -->
<%= content_tag( 'p', "Peerage type: #{link_to( @peerage.peerage_type.name, peerage_type_show_url( :peerage_type => @peerage.peerage_type ) )}".html_safe ) %>

<!-- title extinction -->
<% if @peerage.extinct_on -%>
	<%= content_tag( 'p', "This title was held by #{pluralize( @peerage.last_number, 'person' )} and became extinct on #{@peerage.extinct_on.strftime( '%-d %B %Y')}." ) %>
<% else -%>
	<%= content_tag( 'p', "This title is not extinct." ) %>
<% end -%>

<!-- notes -->
<%= content_tag( 'p', @peerage.notes ) if @peerage.notes %>

<!-- law lords -->
<% unless @peerage.law_lords.empty? %>
	<%= content_tag( 'h2', 'Law Lord' ) %>
	<ol>
		<%= render :partial => 'law_lord/law_lord', :collection => @peerage.law_lords %>
	</ol>
<% end -%>

<!-- subsidiary titles -->
<% unless @peerage.subsidiary_titles.empty? -%>
	<%= content_tag( 'h2', 'Subsidiary titles' ) %>
	<ol>
		<%= render :partial => 'subsidiary_title/subsidiary_title', :collection => @peerage.subsidiary_titles %>
	</ol>
<% end -%>





<h4>What is this?</h4>
<%= content_tag( 'p', "Nature of special remainder (where not male issue): #{@peerage.sr}" ) %>
<%= content_tag( 'p', "Time: #{@peerage.time}" ) %>



 
 



