<%= content_tag( 'h1', @peerage.display_title ) %>
<%= content_tag( 'p', @peerage.full_title ) if  @peerage.full_title != @peerage.display_title %>
<%= content_tag( 'p', "A peerage of the #{link_to( @peerage.kingdom.name, kingdom_show_url( :kingdom => @peerage.kingdom ) )}.".html_safe ) %>

<%= content_tag( 'h2', link_to( "Letters patent issued on #{@peerage.letters_patent.patent_on.strftime( '%-d %B %Y')}", letters_patent_show_url( :letters_patent => @peerage.letters_patent ) ) ) %>

<%= content_tag( 'p', "To #{link_to( @peerage.letters_patent.person.display_name, person_show_url( :person => @peerage.letters_patent.person ) )} as #{link_to( @peerage.peerage_type.name, peerage_type_show_url( :peerage_type => @peerage.peerage_type ) )}.".html_safe ) %>

<%= content_tag( 'p', "Issued during the #{link_to( @peerage.letters_patent.administration.prime_minister, administration_show_url( :administration => @peerage.letters_patent.administration ) )} administration.".html_safe ) if @peerage.letters_patent.administration %>

<%= content_tag( 'p', "Announced on #{link_to( @peerage.letters_patent.announcement.announced_on.strftime( '%-d %B %Y'), announcement_show_url( :announcement => @peerage.letters_patent.announcement ) )} as part of a #{link_to( @peerage.letters_patent.announcement.announcement_type.name, announcement_type_show_url( :announcement_type => @peerage.letters_patent.announcement.announcement_type ) )}.".html_safe ) if @peerage.letters_patent.announcement %>

<% if @peerage.special_remainder %>
	<%= content_tag( 'h2', 'Nature of Special Remainder' ) %>
	<%= content_tag 'p', link_to( @peerage.special_remainder.description, special_remainder_show_url( :special_remainder => @peerage.special_remainder ) ) %>
<% end -%>

<%= content_tag( 'p', "Note: #{@peerage.notes}" ) if @peerage.notes %>

<% unless @peerage.law_lord_incumbencies.empty? %>
	<%= content_tag( 'h2', 'Law Lord incumbencies' ) %>
	<ol>
		<%= render :partial => 'law_lord_incumbency/law_lord_incumbency', :collection => @peerage.law_lord_incumbencies %>
	</ol>
<% end -%>

<% if @peerage.is_hereditary? %>
	<%= content_tag( 'h2', 'Holders' ) %>
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Number' ) %>
				<%= content_tag( 'td', 'Surname' ) %>
				<%= content_tag( 'td', 'Forenames' ) %>
				<%= content_tag( 'td', 'Held from' ) %>
				<%= content_tag( 'td', 'Held to' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'peerage_holding/peerage_holding', :collection => @peerage.peerage_holdings %>
		</tbody>
	</table>
<% end -%>

<% if @peerage.extinct_on %>
	<%= content_tag( 'p', "Peerage extinct on #{@peerage.extinct_on.strftime( '%-d %B %Y')} with the #{@peerage.last_number.ordinalize} holder." ) %>
<% end -%>

<% if @peerage.has_external_identifiers? %>
	<%= content_tag( 'h2', 'External identifiers' ) %>
	<%= content_tag( 'p', "Wikidata: #{link_to( @peerage.wikidata_id, @peerage.wikidata_url)}".html_safe ) if @peerage.wikidata_id %>
<% end -%>