<h1>
	<!-- appointment period -->
	<% if @law_lord_incumbency.end_on -%>
		<%= content_tag( 'h3', "#{link_to( @law_lord_incumbency.peerage.display_title, peerage_show_url( :peerage => @law_lord_incumbency.peerage ) )}  (#{@law_lord_incumbency.appointed_on.strftime( '%-d %B %Y')} - #{@law_lord_incumbency.end_on.strftime( '%-d %B %Y')})".html_safe ) %>
	<% else -%>
		<%= content_tag( 'h3', "#{link_to( @law_lord_incumbency.peerage.display_title, peerage_show_url( :peerage => @law_lord_incumbency.peerage ) )}  (#{@law_lord_incumbency.appointed_on.strftime( '%-d %B %Y')} - )".html_safe ) %>
	<% end -%>
</h1>
	
<!-- Three records have a gazette issue but no page. None have a page but no issue -->
<!-- peerages 2302, 2303, 2305 -->
<% if @law_lord_incumbency.appointment_london_gazette_issue -%>
	<% if @law_lord_incumbency.appointment_london_gazette_page -%>
		<%= content_tag( 'p', "Appointment in The London Gazette, issue #{@law_lord_incumbency.appointment_london_gazette_issue}, page #{@law_lord_incumbency.appointment_london_gazette_page}." ) %>
	<% else -%>
		<%= content_tag( 'p', "Appointment in The London Gazette, issue #{@law_lord_incumbency.appointment_london_gazette_issue}." ) %>
	<% end -%>
<% end -%>
<%= content_tag( 'p', "Old office: #{@law_lord_incumbency.old_office}." ) if @law_lord_incumbency.old_office %>
<%= content_tag( 'p', "Preceded by #{@law_lord_incumbency.vice}." ) if @law_lord_incumbency.vice %>
<%= content_tag( 'p', "Jurisdiction: #{link_to( @law_lord_incumbency.jurisdiction.label, jurisdiction_show_url( :jurisdiction => @law_lord_incumbency.jurisdiction ) )}.".html_safe ) %>

<%= content_tag( 'p', "Annuity from: #{@law_lord_incumbency.annuity_from.strftime( '%-d %B %Y')}." ) if @law_lord_incumbency.annuity_from %>
<% if @law_lord_incumbency.annuity_london_gazette_issue -%>
	<%= content_tag( 'p', "Annuity in The London Gazette, issue #{@law_lord_incumbency.annuity_london_gazette_issue}, page #{@law_lord_incumbency.annuity_london_gazette_page}." ) %>
<% end -%>
<%= content_tag( 'p', "Note: #{@law_lord_incumbency.notes}" ) if @law_lord_incumbency.notes %>