<%= content_tag( 'h1', 'Peerage report' ) %>

<div id="extinct">
	<%= content_tag( 'h2', "Extinct hereditary peerages" ) %>
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Peerage' ) %>
				<%= content_tag( 'td', 'Number of holders' ) %>
				<%= content_tag( 'td', 'Number of holders populated' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'extinct_peerage', :collection => @extinct_hereditary_peerages %>
		</tbody>
	</table>
</div>

<div id="non-extinct">
	<%= content_tag( 'h2', 'Non-extinct hereditary peerages' ) %>
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Peerage' ) %>
				<%= content_tag( 'td', 'Patent on' ) %>
				<%= content_tag( 'td', 'Number of holders populated' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'non_extinct_peerage', :collection => @non_extinct_hereditary_peerages %>
		</tbody>
	</table>
</div>