<%= content_tag( 'h1', 'Suspected data errors' ) %>

<%= content_tag( 'h2', 'Subsidiary peerages' ) %>

<p>All subsidiary peerages have the same date for issue of letters patent as their parent peerage, except for the current Duke of Cambridge whose main peerage has a letters patent date of 26/05/2011, with two subsidiary titles - the Earl of Strathearn and Lord Carrickfergus - having a letters patent date of 29/04/2011. We have checked the London Gazette and found a single announcement. For now, we have assumed incorrect dates on the subsidiaries and combined them into the same letters patent as the 'parent' peerage.</p>

<%= content_tag( 'h2', 'Person details' ) %>

<p>Our code assumes that peerage records having the same forenames, surname, date of birth and date of death refer to the same person. This breaks for records referring to the future Edward VII, who is <%= link_to( 'Edward', person_show_url( :person => 227 ) ) %> in the record referring to the <%= link_to( 'Earl of Dublin', peerage_show_url( :peerage => 284 ) ) %> peerage and <%= link_to( 'Albert Edward', person_show_url( :person => 232 ) ) %> in the record referring to the <%= link_to( 'Earl of Chester', peerage_show_url( :peerage => 2940 ) ) %> peerage. Would it be possible to reconcile these records?</p>

<p><%= link_to( 'John Campbell', person_show_url( :person => 195 ) ) %>, created <%= link_to( 'Marquess of Breadalbane', peerage_show_url( :peerage => 192 ) ) %> on 12 September 1831, has no date of birth. Likely same person as <%= link_to( 'John Campbell', person_show_url( :person => 42 ) ) %>,, created <%= link_to( 'Lord Breadalbane', peerage_show_url( :peerage => 53 ) ) %> on 13 November 1806, who has date of birth 30 March 1762. Suggest adding this date of birth to the later entry.</p>

<%= content_tag( 'h2', 'Incorrect patent dates' ) %>

<p><%= link_to( 'Letters patent 2712', letters_patent_show_url( :letters_patent => 2712 ) ) %> (creating Marquess of Aberdeen and Temair) has 15 May 1915. It should be 4 January 1916.</p>

<%= content_tag( 'h2', 'Missing patent times' ) %>

<h3>1805-11-20</h3>

<p><%= link_to( 'Letters patent 39', letters_patent_show_url( :letters_patent => 39 ) ) %> (creating Earl Nelson) should have "3" (for earldom) and thus ordinality=1.</p>

<p><%= link_to( 'Letters patent 19', letters_patent_show_url( :letters_patent => 19 ) ) %> (creating Baron Collingwood) should have "5" (for barony) and thus ordinality=2.</p>

<h3>1821-07-17</h3>

<p><%= link_to( 'Letters patent 119', letters_patent_show_url( :letters_patent => 119 ) ) %> (creating Marquess of Ailesbury) should have "2" (for marquessate) and thus ordinality=1.</p>

<p>The other fifteen letters patent that day have "issued at" values so are already in sequence.</p>

<h3>1833-01-28</h3>

<p><%= link_to( 'Letters patent 198', letters_patent_show_url( :letters_patent => 198 ) ) %> (creating Duke of Sutherland) should have "1" (for dukedom) and thus ordinality=1.</p>

<p><%= link_to( 'Letters patent 173', letters_patent_show_url( :letters_patent => 173 ) ) %> (creating Baron Western) should have "5" (for barony) and thus ordinality=2.</p>

<h3>1837-01-27</h3>

<p><%= link_to( 'Letters patent 201', letters_patent_show_url( :letters_patent => 201 ) ) %> (creating Earl of Effingham) should have "3" (for earldom) and thus ordinality=1.</p>

<p><%= link_to( 'Letters patent 189', letters_patent_show_url( :letters_patent => 189 ) ) %> (creating Baron Portman) should have "5" (for barony) and thus ordinality=2.</p>

<h3>1837-01-28</h3>

<p><%= link_to( 'Letters patent 199', letters_patent_show_url( :letters_patent => 199 ) ) %> (creating Earl of Ducie) should have "3" (for earldom) and thus ordinality=1.</p>

<p><%= link_to( 'Letters patent 190', letters_patent_show_url( :letters_patent => 190 ) ) %>  (creating Baron Lovat) should have "5" (for barony) and thus ordinality=2.</p>

<h3>1837-01-30</h3>

<p><%= link_to( 'Letters patent 205', letters_patent_show_url( :letters_patent => 205 ) ) %> (creating Earl of Yarborough) should have "3" (for earldom) and thus ordinality=1.</p>

<p><%= link_to( 'Letters patent 191', letters_patent_show_url( :letters_patent => 191 ) ) %> (creating Baron Bateman) should have "5" (for barony) and thus ordinality=2.</p>

<h3>1874-03-06</h3>

<p><%= link_to( 'Letters patent 383', letters_patent_show_url( :letters_patent => 383 ) ) %> (creating Viscount Cardwell) should have "4" (for viscountcy) and thus ordinality=1.</p>

<p><%= link_to( 'Letters patent 350', letters_patent_show_url( :letters_patent => 350 ) ) %> (creating Baron Hampton) should have "5" (for barony) and thus ordinality=2.</p>

<h3>1880-05-04</h3>

<p><%= link_to( 'Letters patent 376', letters_patent_show_url( :letters_patent => 376 ) ) %> (creating Earl Sondes) should have "3" (for earldom) and thus ordinality=1.</p>

<h3>1807-11-09</h3>

<p><%= link_to( 'Letters patent 48', letters_patent_show_url( :letters_patent => 48 ) ) %> (creating Viscount Cathcart) could have "4" (for viscountcy), still ordinality=1.</p>

<p><%= link_to( 'Letters patent 49', letters_patent_show_url( :letters_patent => 49 ) ) %> (creating Baron Gambier) could have "5" (for barony), still ordinality=2.</p>

<h3>1821-07-14</h3>

<p><%= link_to( 'Letters patent 116', letters_patent_show_url( :letters_patent => 116 ) ) %> (creating Earl of Falmouth) could have "3" (for earldom), still ordinality=1.</p>

<p><%= link_to( 'Letters patent 2716', letters_patent_show_url( :letters_patent => 2716 ) ) %> (creating Viscount Hutchinson) could have "4" (for viscountcy), still ordinality=2.</p>

<h3>1827-04-28</h3>

<p><%= link_to( 'Letters patent 131', letters_patent_show_url( :letters_patent => 131 ) ) %> (creating Viscount Goderich) could have "4" (for viscountcy), still ordinality=1.</p>

<p><%= link_to( 'Letters patent 132', letters_patent_show_url( :letters_patent => 132 ) ) %> (creating Baron Fife) could have "5" (for barony), still ordinality=2.</p>

<h3>1827-10-05</h3>

<p><%= link_to( 'Letters patent 120', letters_patent_show_url( :letters_patent => 120 ) ) %> (creating Marquess of Cleveland) could have "2" (for marquessate), still ordinality=1.</p>

<p><%= link_to( 'Letters patent 2867', letters_patent_show_url( :letters_patent => 2867 ) ) %> (creating Earl of Dudley) could have "3" (for earldom), still ordinality=2.</p>

<h3>1839-04-20</h3>

<p><%= link_to( 'Letters patent 213', letters_patent_show_url( :letters_patent => 213 ) ) %> (creating Viscount Ponsonby) could have "4" (for viscountcy), still ordinality=1.</p>

<p><%= link_to( 'Letters patent 2699', letters_patent_show_url( :letters_patent => 2699 ) ) %> (creating Baron Beauvale) could have "5" (for barony), still ordinality=2.</p>

<h3>1857-04-11</h3>

<p><%= link_to( 'Letters patent 264', letters_patent_show_url( :letters_patent => 264 ) ) %> (creating Earl Cowley) could have "3" (for earldom), still ordinality=1.</p>

<p><%= link_to( 'Letters patent 265', letters_patent_show_url( :letters_patent => 265 ) ) %> (creating Viscount Eversley) could have "4" (for viscountcy), still ordinality=2.</p>

<h3>1887-07-01</h3>

<p><%= link_to( 'Letters patent 439', letters_patent_show_url( :letters_patent => 439 ) ) %> (creating Earl of Londesborough) could have "3" (for earldom), still ordinality=1.</p>

<p><%= link_to( 'Letters patent 436', letters_patent_show_url( :letters_patent => 436 ) ) %> (creating Baron Bowes) could have "5" (for barony), still ordinality=2.</p>

<%= content_tag( 'h2', 'Clashing patent times' ) %>

<h3>2000-04-18</h3>

<p>Both letters patent for <%= link_to( 'Baron Gueterbock', letters_patent_show_url( :letters_patent => 2041 ) ) %> and <%= link_to( 'Baron Mitford', letters_patent_show_url( :letters_patent => 2040 ) ) %> have a letters patent time of P for p.m. It's not particularly helpful but not, we think, wrong.</p>