<%= content_tag( 'h1', 'Administrations' ) %>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Number' )%>
			<%= content_tag( 'td', 'Prime Minister' )%>
			<%= content_tag( 'td', 'Start date' )%>
			<%= content_tag( 'td', 'End date' )%>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'administration', :collection => @administrations %>
	</tbody>
</table>