<h1>People</h1>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Surname' ) %>
			<%= content_tag( 'td', 'Forenames' ) %>
			<%= content_tag( 'td', 'Date of birth' ) %>
			<%= content_tag( 'td', 'Date of death' ) %>
			<%= content_tag( 'td', 'Gender' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'person', :collection => @people %>
	</tbody>
</table>