<h1><%= @person.display_name %></h1>

<!-- lifespan -->
<% if @person.date_of_birth and @person.date_of_death and  -%>
	<%= content_tag( 'p', "#{@person.forenames} #{@person.surname} was born on #{@person.date_of_birth.strftime( '%-d %B %Y')} and died on #{@person.date_of_death.strftime( '%-d %B %Y')}." ) %>
<% end -%>

<%= content_tag( 'h2', 'Peerages' ) %>

<ol>
	<%= render :partial => 'peerage/peerage', :collection => @person.peerages %>
</ol>

<% if @person.letters_patents.size > 0 %>
	<%= content_tag( 'h2', 'Letters Patent' ) %>
	<ol>
		<%= render :partial => 'letters_patent/letters_patent', :collection => @person.letters_patents %>
	</ol>
<% end -%>

<% if @person.has_external_identifiers? %>
	<%= content_tag( 'h2', 'External identifiers' ) %>
	<%= content_tag( 'p', "Wikidata: #{link_to( @person.wikidata_id, @person.wikidata_url)}".html_safe ) if @person.wikidata_id %>
	<%= content_tag( 'p', "MNIS: #{link_to( @person.mnis_id, @person.mnis_url)}".html_safe ) if @person.mnis_id %>
	<%= content_tag( 'p', "Rush: #{link_to( @person.rush_id, @person.rush_url)}".html_safe ) if @person.rush_id %>
<% end -%>