<li>
	<%= content_tag( 'h3', "Appointed on #{law_lord.appointed_on.strftime( '%-d %B %Y')}" ) %>

	<!-- Three records have an issue but no page. None have a page but no issue -->
	<!-- peerages 2302, 2303, 2305 -->
	<% if law_lord.appointment_london_gazette_issue -%>
		<% if law_lord.appointment_london_gazette_page -%>
			<%= content_tag( 'p', "Appointment in The London Gazette, issue #{law_lord.appointment_london_gazette_issue}, page #{law_lord.appointment_london_gazette_page}." ) %>
		<% else -%>
			<%= content_tag( 'p', "Appointment in The London Gazette, issue #{law_lord.appointment_london_gazette_issue}." ) %>
		<% end -%>
	<% end -%>
	<%= content_tag( 'p', "Preceded by #{law_lord.vice}." ) if law_lord.vice %>
	<%= content_tag( 'p', "Retired on #{law_lord.retired_on.strftime( '%-d %B %Y')}" ) if law_lord.retired_on %>
	<%= content_tag( 'p', law_lord.notes ) if law_lord.notes %>
	<%= content_tag( 'p', "Jurisdiction: #{law_lord.jurisdiction}." ) %>
	<%= content_tag( 'p', "Old office: #{law_lord.old_office}." ) if law_lord.old_office %>
	<%= content_tag( 'p', "Annuity from: #{law_lord.annuity_from.strftime( '%-d %B %Y')}." ) if law_lord.annuity_from %>
	<% if law_lord.annuity_london_gazette_issue -%>
		<%= content_tag( 'p', "Annuity in The London Gazette, issue #{law_lord.annuity_london_gazette_issue}, page #{law_lord.annuity_london_gazette_page}." ) %>
	<% end -%>
</li>