<tr>
	<%= content_tag( 'td', peerage_holding.ordinality.ordinalize ) %>
	<%= content_tag( 'td', link_to( peerage_holding.person.surname, person_show_url( :person => peerage_holding.person ) ) ) %>
	<%= content_tag( 'td', link_to( peerage_holding.person.forenames, person_show_url( :person => peerage_holding.person ) ) ) %>
	<%= content_tag( 'td', peerage_holding.start_on.strftime( '%-d %B %Y' ) ) %>
	<td>
		<% if peerage_holding.end_on -%>
			<%= peerage_holding.end_on.strftime( '%-d %B %Y' ) %>
		<% else -%>
			-
		<% end -%>
	</td>
</tr>