<tr>
	<%= content_tag( 'td', link_to( letters_patent_table.kingdom_name_inline, kingdom_show_url( :kingdom => letters_patent_table.kingdom_id_inline ) ) ) %>
	<td>
		<% if letters_patent_table.monarch_name_inline -%>
			<%= link_to( letters_patent_table.monarch_name_inline, reign_show_url( :reign => letters_patent_table.reign_id_inline ) ) %>
		<% else -%>
			-
		<% end -%>
	</td>
	<%= content_tag( 'td', link_to( letters_patent_table.patent_on.strftime( '%-d %B %Y'), letters_patent_show_url( :letters_patent => letters_patent_table) ) ) %>
	<td>
		<% if letters_patent_table.letters_patent_time_inline -%>
			<%= letters_patent_table.letters_patent_time_inline %>
		<% else -%>
			-
		<% end -%>
	</td>
	<td>
		<% if letters_patent_table.administration_id_inline -%>
			<%= link_to( letters_patent_table.prime_minister_reverse_ordinally, administration_show_url( letters_patent_table.administration_id_inline ) ) %>
		<% else -%>
			-
		<% end -%>
	</td>
	<%= content_tag( 'td', link_to( letters_patent_table.peerage_type_name_inline, peerage_type_show_url( :peerage_type => letters_patent_table.peerage_type_id_inline ) ) ) %>
	<%= content_tag( 'td', link_to( letters_patent_table.peerage_full_title, peerage_show_url( :peerage => letters_patent_table.peerage_id_inline ) ) ) %>
	<%= content_tag( 'td', link_to( letters_patent_table.person_full_name, person_show_url( :person => letters_patent_table.person_id ) ) ) %>
	<td>
		<% if letters_patent_table.person_date_of_death_inline %>
			<%= letters_patent_table.person_date_of_death_inline.strftime( '%-d %B %Y') %>
		<% else -%>
			-
		<% end -%>
	</td>
	<%= content_tag( 'td', letters_patent_table.previous_full_title ) %>
	<%= content_tag( 'td', letters_patent_table.peerage_extinction_label ) %>
</tr>