<tr>
	<%= content_tag( 'td', link_to( letters_patent_table.patent_on.strftime( '%-d %B %Y'), letters_patent_show_url( :letters_patent => letters_patent_table) ) ) %>
	<%= content_tag( 'td', letters_patent_table.patent_time ) %>
	<td>
		<% if letters_patent_table.administration -%>
			<%= link_to( letters_patent_table.administration.prime_minister, administration_show_url( letters_patent_table.administration ) ) %>
		<% else -%>
			-
		<% end -%>
	</td>
	<%= content_tag( 'td', link_to( letters_patent_table.peerages.first.peerage_type.name, peerage_type_show_url( :peerage_type => letters_patent_table.peerages.first.peerage_type ) ) ) %>
	<%= content_tag( 'td', link_to( letters_patent_table.peerages.first.full_title, peerage_show_url( :peerage => letters_patent_table.peerages.first ) ) ) %>
	<%= content_tag( 'td', link_to( letters_patent_table.person.display_name, person_show_url( :person => letters_patent_table.person ) ) ) %>
	<%= content_tag( 'td', letters_patent_table.person.date_of_death_display ) %>
	<%= content_tag( 'td', letters_patent_table.previous_full_title ) %>
	<%= content_tag( 'td', letters_patent_table.peerages.first.display_extinction ) %>
</tr>