<% if reign_from_kingdom.monarchs.size == 1 %>
	<p>
		<%= link_to( reign_from_kingdom.monarchs.first.name, monarch_show_url( :monarch => reign_from_kingdom.monarchs.first ) ) %> monarch of the <%= link_to( reign_from_kingdom.kingdom.name, kingdom_show_url( :kingdom => reign_from_kingdom.kingdom_id ) ) %> from <%= link_to( reign_from_kingdom.date_range, reign_show_url( :reign => reign_from_kingdom ) ) %>.
	</p>
<% elsif reign_from_kingdom.monarchs.size == 2 %>
	<p>
		<%= link_to( reign_from_kingdom.monarchs.first.name, monarch_show_url( :monarch => reign_from_kingdom.monarchs.first ) ) %> and <%= link_to( reign_from_kingdom.monarchs.second.name, monarch_show_url( :monarch => reign_from_kingdom.monarchs.second ) ) %> monarchs of the <%= link_to( reign_from_kingdom.kingdom.name, kingdom_show_url( :kingdom => reign_from_kingdom.kingdom_id ) ) %> from <%= link_to( reign_from_kingdom.date_range, reign_show_url( :reign => reign_from_kingdom ) ) %>.
	</p>
<% end -%>