<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Beamish</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<header>

<nav>
<strong><a href="/">peerages.herokuapp.com</a></strong>
<br>
<%= content_tag( 'span', link_to( 'Ranks', rank_list_url ) ) %>
&middot;
	<%= content_tag( 'span', link_to( 'Types', peerage_type_list_url ) ) %>
	&middot;
	<%= content_tag( 'span', link_to( 'Administrations', administration_list_url ) ) %>
	&middot;
	<%= content_tag( 'span', link_to( 'Announcement types', announcement_type_list_url ) ) %>
	&middot;
	<%= content_tag( 'span', link_to( 'Announcements', announcement_list_url ) ) %>
	&middot;
	<%= content_tag( 'span', link_to( 'Peerages', peerage_list_url ) ) %>

</nav>


</header>
<main>

<h1></h1>
<%= yield %>
</main>
<footer></footer>
</body>
</html>
