<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>peerages.herokuapp.com</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <style>
  main {padding:2rem 0;}
  </style>
</head>
<body>
<header>

<nav>
<a href="/">peerages.herokuapp.com</a><br>
<%= link_to( 'People', person_atoz_show_url( :letter => 'a' ) ) %>
&middot;
<%= link_to( 'Ranks', rank_list_url )  %>
&middot;
	<%= link_to( 'Peerage types', peerage_type_list_url )  %>
	&middot;
	<%= link_to( 'Administrations', administration_list_url )  %>
	&middot;
	<%= link_to( 'Announcements', announcement_list_url ) %>
	&middot;
	<%= link_to( 'Announcement types', announcement_type_list_url  ) %>
</nav>


</header>

<main>
<%= yield %>
</main>

<footer>
</footer>
</body>
</html>
