<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>peerages.herokuapp.com</title>
  
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <style>
  main {padding:2rem 0;}
  ol.horizontal li {display: inline;list-style-type: none;padding-right: 20px;}
  .row {display: flex;height:auto;padding:0.25rem;}
  .row:hover {background-color:#eee;}
.row span {flex:1 1;padding:0.2rem;}
</style>
</head>
<body>
<header>
<nav>
<strong><a href="/">Peerages</a></strong><br>
<%= link_to( 'Peerages', peerage_atoz_show_url( :letter => 'a' ) ) %>
&middot;
<%= link_to( 'Peerage types', peerage_type_list_url ) %>
&middot;
<%= link_to( 'Ranks', rank_list_url )  %>
&middot;
<%= link_to( 'Announcement types', announcement_type_list_url )  %>
&middot;
<%= link_to( 'All announcements', announcement_list_url )  %>
&middot;
<%= link_to( 'People', person_atoz_show_url( :letter => 'a' ) ) %>
&middot;
<%= link_to( 'Administrations', administration_list_url )  %>
&middot;
<%= link_to( 'Special remainders', special_remainder_list_url )  %>
&middot;
<%= link_to( 'Law Lord appointments', law_lord_list_url )  %>
&middot;
<%= link_to( 'Law Lord jurisdictions', jurisdiction_list_url )  %>
	
	<!--
	&middot;
	<%= link_to( 'Announcements', announcement_list_url ) %>
	&middot;
	<%= link_to( 'Announcement types', announcement_type_list_url  ) %>
		&middot;
		 -->
</nav>
</header>

<main>
<%= yield %>
</main>

<footer>
	<%= content_tag( 'p', "Based on data collated by #{link_to( 'David Beamish', 'https://twitter.com/clerkly' )} published at #{link_to( 'United Kingdom peerage creations 1801 to 2020', 'http://peerages.info/' )}.".html_safe ) %>
	<%= link_to( 'Meta', meta_list_url ) %>
	&middot;
	<%= link_to( 'About', meta_about_url ) %>
	&middot;
	<%= link_to( 'Infrequently Asked Questions', meta_iaq_url ) %>
	&middot;
	<%= link_to( 'Schema', meta_schema_url )  %>
</footer>
</body>
</html>
